// Typography
$font-family: 'Roboto';
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-weight-large: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-color: #3A404F;
$secondary-font-color: #7A7C80;

// Colors
$black: #000000;
$white: #FFFFFF;
$dark-color: #3A404F;
$gray-color: #C1C2C3; // Can be modified
$link-color: #EEA44D;
$info-color: #204d74;
$danger-color: #FC4343;
$success-color:#4AA829;
$primary-color: #EEA44D;
$warning-color: #CD6A03;
$border-color: #C1C2C3;
$body-background: #F7F8F9;
$secondary-color: #546E7A;
$control-border-color: #C1C2C3;
